@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Fredericka+the+Great&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-size: 2vh;
  color: #fff;
  font-family: 'Fredericka the Great';
}

.img{
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 50%;
}

header {
  padding: 3vh;
  margin: none;
  height: 20vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Fredericka the Great';
}

nav>a {
  color: white;
  text-decoration: none;
  font-size: large;
}

#header>.header-container>.content>section {
  display: flex;
  flex-direction: column;
  width: 50vw;
  
}

.content>section>p {
  text-align: left;
  color: white;
}

.content>section>h1 {
  text-align: left;
  color: white
}

body {
  background-image: url("resources/faces.jpeg");
  background-size: cover;
}

main {
  display: flex;
  flex-direction: row;
  padding: 10vh 10vw;
}

#main {
  width: 82%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 3vw;
}